html,body {
  overflow-x: hidden;
  background: #000;
}

img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h3{
  font-size: 45px;
 font-family: "museo-slab";
}

a{
  color: #fff;
  padding:5px;
  margin-top: 10px;

}

.canwrp canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto;
}
.contact{
  padding-top: 20px;
}
.about{
  width:70%;
  font-size: 20px;
  font-family: "museo-slab";
}
.container{
  height: auto;
  width:70%;
  color:#fff;
  padding: 15%;
  padding-top: 8%;
}


#wrapper {
  height:auto;
  width:100%;
  text-align: center;
  display: table;
  position:absolute;
}

#wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto;
}

#canvas {
  z-index: 1;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
}


@media only screen and (max-width: 600px) {
  img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  h3{
    font-size: 20px;
   font-family: "museo-slab";
  }
  .about{
    width:70%;
    font-size: 10px;
    font-family: "museo-slab";
  }
}  
